<div class="ui mini menu menu-set">
  <a class="active item">
    <%= link_to 'Photo App', root_path,
    class:"#{'active' if request.path == root_path} item"%>

  </a>
  <% if current_user %>
    <a class="item">
      Photo App
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
        <%= current_user.full_name %> <i class="dropdown icon"></i>
        <div class="menu">
          <a><%= link_to edit_user_registration_path(current_user), class:"item" do%>
            <i class="edit icon"></i>Edit Profile
          <% end %></a>
          <a class="item">Russian</a>
          <a class="item">Spanish</a>
        </div>
      </div>
      <div class="item">
        <%= link_to 'Logout', destroy_user_session_path, method: :delete,
        class:"ui brown button"%>
      </div>
    </div>
  <% else %>
    <div class="right menu">
      <div class="item">
          <%= link_to 'Sign In', new_user_session_path, class:"ui black button"%>
      </div>
    </div>
  <% end %>
</div>
